<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day_07_09_ui_table_view_txt_field">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
