<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058405770096-dbm4v67j636dqhsvhmbimpfb6omo2f70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058405770096-dbm4v67j636dqhsvhmbimpfb6omo2f70</string>
	<key>API_KEY</key>
	<string>AIzaSyA3xQA8Xw7Bz1e3ecvG4wpwNUPqR3kSsqI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058405770096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day0502LoginUsingPhone</string>
	<key>PROJECT_ID</key>
	<string>flutterauthphone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauthphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058405770096:ios:0e7d6926364b13c78de5b5</string>
	<key>DATABASE_URL</key>
	<string>https://flutterauthphone.firebaseio.com</string>
</dict>
</plist>